  <div class="mb3 pa4 mid-gray overflow-hidden">
      {{ if .Params.featured_image }}
      <div class="w-100" style="background-image:url({{ .Params.featured_image }});height:200px;background-size:conver;margin-bottom:20px;">
       
      </div>
    {{ end }}
    {{ if .Date }}
      <div class="f6">
        {{ .Date.Format "January 2, 2006" }}
      </div>
    {{ end }}
    <h1 class="f3 near-black">
      <a href="{{ .URL }}" class="link black dim">
        {{ .Title }}
      </a>
    </h1>
    <div class="nested-links f5 lh-copy nested-copy-line-height">
      {{ .Summary  }}
    </div>
  </div>
