<div>
    <canvas id="{{ .Get "id"}}" width="{{ .Get "width" }}" height="{{ .Get "height" }}"></canvas>
    {{ if .Get "data" }}
    <script src="{{$.Site.BaseURL}}/js/{{ .Get "data" }}"></script>
    <script src="{{$.Site.BaseURL}}/js/chartViewer.js"></script>
    {{ end }}
</div>