<div class="pa4">
<div class="overflow-auto">
<table class="f6 w-100 mw8 center" cellspacing="0">
{{ $url := .Get "url" }}
{{ $sep := "," }}
{{ range $i, $r := getCSV $sep $url }}
{{ if eq $i 0 }}
<thead><tr>
{{ range $r }}
<th scope="col" class="pv2 ph3 tl f6 fw6 ttu">{{ . }}</th>
{{end}}
</tr>
</thead>
{{end}}
{{ if ge $i 1 }}
<tr class="striped--near-white ">
{{ range  $r }}
<td class="pv2 ph3">{{ . }}</td>
{{end}}
</tr>
{{end}}
{{ end }}
</table>
</div>
</div>